.header {
	border-bottom: 1px solid black;
	padding: 1rem;
}

.headerContent {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 80rem;
}

.body {

}
