.section {
	padding: 1rem 0;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list > li {
	align-items: center;
	display: flex;
	height: 2rem;
	justify-content: space-between;
	max-width: 30rem;
}
