.content {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	& > * + *::before {
		content: '>';
		margin: 0 0.5rem;
	}
}
