* {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	position: relative;
	width: 100vw;
}

.util--show-on-desktop {
	@media (width < 600px) {
		display: none;
	}

	@media (width >= 600px) {
		display: inline;
	}
}
