.body {
	display: flex;
	min-height: 100vh;
}

.featureNavList {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 10rem;
}

.header {
	border-bottom: 1px solid black;
	padding: 1rem;

	& a {
		text-decoration: none;
	}
}

.main {
	width: 100%;
}

.nav {
	display: none;
	padding: 1rem;

	@media (600px <= width) {
		display: inline;
		border-right: 1px solid black;
	}
}
