.body {
	display: flex;
	min-height: 100vh;
}

.featureNavList {
	list-style: none;
	margin: 0;
	padding: 1rem;
	width: 10rem;
}

.header {
	background-color: lightgreen;
	padding: 1rem;

	& a {
		text-decoration: none;
	}
}

.main {
	width: 100%;
}

.nav {
	background-color: lightyellow;
	display: none;

	@media (600px <= width) {
		display: inline;
	}
}
