---
import { HTMLPage } from '@/components/HTMLPage';
import { Button } from '@leapsake/components';
import { EmailAddressInput } from '@leapsake/components';
---

<HTMLPage
		title="Leapsake - Keep memories, make memories"
>
	<div class="wrapper">
		<div class="content">
			<h1>Keep memories, make memories,<br/>with <b>Leapsake</b>.</h1>

			<p>Leapsake is an app that helps you keep your people and the memories you make together close.</p>

			<h2>Remember the people in your life.</h2>

			<p>Keep contacts, special days, interests, and more organized.</p>

			<h2>Your memories are <i>yours</i>.</h2>

			<p>Your data isn’t locked behind far-off servers or in proprietary formats. Leapsake keeps things offline and local-first, using open standards.</p>

			<div class="coming-soon">
				<h2>Coming soon</h2>

				<p>Stay informed about our progress and launch.</p>

				<form action="https://usebasin.com/f/affbc7c79e8e" method="post">
					<EmailAddressInput
						label="Email Address"
					/>
					<Button type="submit">Keep me posted</Button>
				</form>
			</div>
		</div>
	</div>
	<style>
		.coming-soon {
			text-align: center;
		}

		.content {
			max-width: 1000px;
			padding: 0 2rem;
		}

		.field {
			display: inline-block;
			text-align: left;
		}

		.wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	</style>
</HTMLPage>
