---
import { HTMLPage } from '@/components/HTMLPage';
---

<HTMLPage
		title="Leapsake - Keep memories, make memories"
>
	<div class="wrapper">
		<div class="content">
			<h1>Keep memories, make memories,<br/>with <b>Leapsake</b>.</h1>

			<p>Leapsake is an app that helps you keep your people and the memories you make together close.</p>

			<h2>Remember the people in your life.</h2>

			<p>Keep contacts, special days, interests, and more organized.</p>

			<h2>Your memories are <i>yours</i></h2>

			<p>Your data isn’t locked behind far-off servers or in proprietary formats. Leapsake keeps things offline and local-first, using open standards.</p>

			<h2 class="coming-soon">Coming soon</h2>
		</div>
	</div>
	<style>
		.coming-soon {
			text-align: center;
		}

		.content {
			max-width: 1000px;
			padding: 0 2rem;
		}

		.wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	</style>
</HTMLPage>
