.header {
	width: 100%;
}

.list {
	display: flex;
	list-style: none;
	margin: 0;

	& > * + * {
		margin-left: 1rem;
	}
}

.logo {
	font-size: 2rem;
}

.nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	& a {
		text-decoration: none;
	}
}

