.button {
	border: 1px solid black;
	border-radius: 0.4rem;
	cursor: pointer;
	padding: 0.4rem;
	text-decoration: none;
	text-wrap: nowrap;

	&:hover {
		background-color: royalblue;
		color: white;
	}
}

.button--danger {
	&:hover {
		background-color: sienna;
		color: white;
	}
}
