.list {
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	list-style-type: none;
	margin: 0;
	max-width: 80rem;
	padding: 0;

	@media (800px <= width) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (1024px <= width) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.item {
}

.link {
	aspect-ratio: 1;
	display: block;
	position: relative;
}

.figure {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.figure img {
	object-fit: cover;
	vertical-align: top;
	width: 100%;
}

.overlay {
	align-items: center;
	background: rgba(0,0,0, .4);
	bottom: 0;
	color: white;
	display: none;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;

	.item:hover & {
		display: flex;
	}
}
