.body {
	display: flex;
	min-height: 100vh;
}

.featureNavList {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 6rem;
}

.header {
	background-color: white;
	border-top: 1px solid black;
	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	right: 0;
	z-index: 1;

	& a {
		text-decoration: none;
	}

	@media (width >= 600px) {
		position: relative;
		border-top: 0;
		border-bottom: 1px solid black;
	}
}

.homeNav {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.main {
	width: 100%;
}

.nav {
	display: none;
	padding: 1rem;

	@media (width >= 600px) {
		display: inline;
		border-right: 1px solid black;
	}
}
