/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/SkipNavLink/SkipNavLink.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.SkipNavLink_skipNavLink__rvmlu {
	left: 50%;
	position: absolute;
	transform: translateY(-200%);
	translition: transform 0.3s;
}

.SkipNavLink_skipNavLink__rvmlu:focus {
	transform: translateY(0%);
}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/global.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
* {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	position: relative;
	width: 100vw;
}

