---
import { Welcome } from '@/components/Welcome';
import Layout from '@/layouts/Layout.astro';

---

<Layout 
	title="Pricing - Leapsake"
>
	<Welcome title="Pricing">
		<p>It’s free.</p>
	</Welcome>
</Layout>
